{% extends 'base.html' %}
{% block content %}
<div class = "card">
    <div class = "card-header">
        <h3 class = "card-title">Welcome, {{ student.user }}!</h3></br>
        <h3 class = "card-title">Course: {{ student.enrolled_course.course_name }}</h3></br>
        <h3 class = "card-title">Enrollment Number: {{ student.enrollment_number }}</h3></br>
    </div>
</div>

<div class= "row">
    <div class = "col-lg-3 col-6">
        <div class = "small-box bg-info">
            <div class = "inner">
                <p>Attendance Percentage</p>
                <h3>{{ attendance_percentage }} %</h3>
            </div>
        </div>
    </div>

    <div class = "col-lg-3 col-6">
        <div class = "small-box bg-info">
            <div class = "inner">
                <p>Results Count</p>
                <h3>{{ result_count }}</h3>
            </div>
        </div>
    </div>

    <div class = "col-lg-3 col-6">
        <div class = "small-box bg-info">
            <div class = "inner">
                <p> Present Days</p>
                <h3>{{ present_count }}</h3>
            </div>
        </div>
    </div>

    <div class = "col-lg-3 col-6">
        <div class = "small-box bg-info">
            <div class = "inner">
                <p>Absent Days</p>
                <h3>{{ absent_count }}</h3>
            </div>
        </div>
    </div>
</div>

<div class= "card">
    <div class = "card-header">
        <h3 class = "card-title">Your Course</h3>
    </div>
    <div class = "card-body">
        {% if enrolled_course %}
        <table class = "table bordered table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Duration</th>
                    <th>Enrollment Date</th>
                </tr>
            </thead>
            <tbody>
                {% for course in enrolled_course %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_duration }} Years</td>
                    <td>{{ student.enrollment_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No courses available.</p>
        {% endif %}
    </div>
</div>
<div class= "card">
    <div class = "card-header">
        <h3 class = "card-title">Recent Attendances</h3>
    </div>
    <div class = "card-body">
        {% if recent_attendance %}
        <table class = "table bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in recent_attendance %}
                <tr>
                    <td>{{ attendance.date }}</td>
                    <td>{{ attendance.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No attendance records available.</p>
        {% endif %}
    </div>
</div>

<div class= "card">
    <div class = "card-header">
        <h3 class = "card-title">Recent Results</h3>
    </div>
    <div class = "card-body">
        {% if recent_result %}
        <table class = "table bordered table-striped">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for result in recent_result %}
                <tr>
                    <td>{{ result.module.module_name }}</td>
                    <td>{{ result.obtained_marks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No results available.</p>
        {% endif %}
    </div>
{% endblock %}