{% extends 'base.html' %}
{% block content %}

<div class = "card">
  <div class = "card-header">
    <h1 class = "card-title">Courses</h1>
    <div class= "card-tools">
                <a href="{% url 'course_add' %}"
                   class="btn btn-success btn-sm">
                    <i class="fas fa-plus"></i>
                    Add Course
                </a>
    </div>
  </div>
  <div class = "card-body">
  {% if courses and courses|length > 0 %}
    <table class = "table table-bordered table-striped">
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>

        {% for course in courses %}
          <tr>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.get_course_duration_display|default:course.course_duration }}</td>
            <td>
              <a href="{% url 'course_update' course.id %}" class = "btn btn-warning btn-sm">Edit</a>
              |
              <a href="{% url 'course_delete' course.id %}" class = "btn btn-danger btn-sm" onclick="return confirm('Delete this course?');">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No courses found.</p>
  {% endif %}
  </div>
</div>
{% include "pagination.html" %}
{% endblock %}