{% extends 'authbase.html' %}
{% block content %}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Edu</b>Track</a>
        </div>

        <div class="card-body">
            <p class="login-box-msg">Sign in to get started with your EduTrack</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                {% csrf_token %}

                {% if messages %}
                    <div class="mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="{% url 'register' %}" class="text-center">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

