{% extends 'authbase.html' %}
{% block content %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Edu</b>Track</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Reset your password</p>
            <form method="post">
                {% if messages %}
                    <div class="mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}