{% extends 'authbase.html' %}
{% block content %}

{% if is_instructor %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Edu</b>Track</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Password Changed Successfully</p>
            <p>You have successfully changed your password.</p>
            <a href="{% url 'instructor_dashboard' %}" class="btn btn-primary btn-block">Back to Dashboard</a>
        </div>
    </div>
</div>
{%elif is_student %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Edu</b>Track</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Password Changed Successfully</p>
            <p>You have successfully changed your password.</p>
            <a href="{% url 'student_dashboard' %}" class="btn btn-primary btn-block">Back to Dashboard</a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}