{% extends 'authbase.html' %}
{% block content %}
<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Edu</b>Track</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Password reset email sent</p>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}