{% extends 'base.html' %}
{% block content %}

<div class = "card">
  <div class = "card-header">
    <h1 class = "card-title">Modules</h1>
    <div class= "card-tools">
                <a href="{% url 'module_add' %}"
                   class="btn btn-success btn-sm">
                    <i class="fas fa-plus"></i>
                    Add Module
                </a>
    </div>
  </div>
  <div class = "card-body">
          <div class="mb-3">
            <span class="badge badge-info">
                Found {{ modules|length }} module record{{ modules|length|pluralize }}
            </span>
        </div>
  {% if modules and modules|length > 0 %}
    <table class = "table table-bordered table-striped">
        <tr>
          <th>Module Code</th>
          <th>Module Name</th>
          <th>Full Marks</th>
          <th>Course</th>
          <th>Actions</th>
        </tr>

        {% for module in modules %}
          <tr>
            <td>{{ module.module_code }}</td>
            <td>{{ module.module_name }}</td>
            <td>{{ module.full_marks }}</td>
            <td>{{ module.courses.course_name }}</td>
            <td>
              <a href="{% url 'module_update' module.id %}" class = "btn btn-warning btn-sm">Edit</a>
              |
              <a href="{% url 'module_delete' module.id %}" class = "btn btn-danger btn-sm" onclick="return confirm('Delete this module?');">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No modules found.</p>
  {% endif %}
  </div>
</div>  
{% include "pagination.html" %}
{% endblock %}